@model ECommerceApp.Models.Product
<form method="post" asp-action="Create" asp-controller="CartItems">
    <input name="productId" value="@Model.Id" type="hidden" />
    <input name="qty" placeholder="0" min="0" />
    <button type="submit" class="btn btn-primary">Add To Cart</button>
</form>