@page
@model ECommerceApp.Views.Account.RegisterModel

<h1>Register</h1>

<div class="row">
    <div class="col-md-4">
        <form>
            <h2>Create a New Account!</h2>
            <div class="form-group">
                <label asp-for="Input.Email" />
                <input asp-for="Input.Email" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
