@{ ViewData["Title"] = "ECommerce App"; }

<div class="jumbotron text-center text-info">
    <h1>Welcome to the ECommerce App!</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <h2> Current User ID: @User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)</h2>
    }
</div>
